*{
	box-sizing: border-box;
}
 
header{
    padding: 15px;
    background-color:#dcdcdc;
    text-align: start;
}

.image_logo{
    height: 55px;
    display: flex;
}

.modal-content{
    height: auto;
    display: flex;
}


#listaHistorial {
    overflow:scroll;
    height:240px;
    width:798px;
}

#dropdownFiltro{
    background-color:#cff4fc;
}

#dropdownMenuFiltro{
    background-color:#F2F3F4;
}

