<!-- Modal-->

<div class="modal fade" id="AgregarRol" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <form>
                <!-- Cabecera Modal -->
                <div class="modal-header">
                    <h5 class="modal-title">Agregar rol</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Body Modal -->
                <div class="modal-body">

                    <!-- Datos rol -->
                    <div class="row g-3">
                        <div class="col-4">
                            <label for="nombreRol" class="form-label">Nombre del rol</label>
                            <input type="text" class="form-control" name="nombreRol">
                        </div>
                        <div class="col-4 form-floating mt-3">
                            <textarea class="form-control" id="descripcionRol"
                                style="height: 350px; resize: none"></textarea>
                            <label for="descripcionRol">Descripción</label>
                        </div>
                        <div class="col-8 list-group">
                            <label class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" value="">
                              First checkbox
                            </label>
                            <label class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" value="">
                              Second checkbox
                            </label>
                            <label class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" value="">
                              Third checkbox
                            </label>
                            <label class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" value="">
                              Fourth checkbox
                            </label>
                            <label class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox" value="">
                              Fifth checkbox
                            </label>
                          </div>
                    </div>

                </div>

                <!-- footer modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>