{% macro modal_agregar_paciente() %}


<!-- Modal -->
        <div class="modal fade" id="AgregarPaciente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar paciente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <!-- Body Modal -->
                <div class="modal-body" style="height: 710px;">
  
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item" role="presentation">
                                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#datos_personales" type="button" role="tab" aria-controls="datos_personales" aria-selected="true">Datos personales</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tutor" type="button" role="tab" aria-controls="tutor" aria-selected="false">Datos tutor</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#financiador" type="button" role="tab" aria-controls="financiador" aria-selected="false">Financiador</button>
                                  </li>
                              </ul>
  
                              <!-- Tab panes -->
                              <div class="tab-content">
                                  <div class="tab-pane active" id="datos_personales" role="tabpanel" aria-labelledby="datos_personales-tab">
  
                                      <!-- Datos paciente -->
                                      <div class="row g-3">
                                          <div class="col-4">
                                              <label for="inputNombre" class="form-label">Nombre</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-4">
                                              <label for="inputApellido" class="form-label">Apellido</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-md-4">
                                              <label for="inputGenero" class="form-label">Genero</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-md-4">
                                              <label for="inputTipDoc" class="form-label">Tipo de documento</label>
                                              <select id="inputTipDoc" class="form-select">
                <option selected>DNI</option>
                <option>Pasaporte</option>
              </select>
                                          </div>
                                          <div class="col-4">
                                              <label for="inputNroDoc" class="form-label">Nro. documento</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-3">
                                              <label for="inputNacimiento" class="form-label">Fecha de nacimiento</label>
                                              <input type="date" class="form-control">
                                          </div>
                                          <div class="col-1">
                                              <label for="inputEdad" class="form-label">Edad</label>
                                              <input type="text" class="form-control" aria-label="Edad">
                                          </div>
                                          <div class="col-md-4">
                                              <label for="inputPais" class="form-label">País</label>
                                              <select id="inputPais" class="form-select">
                <option selected>Seleccione un país</option>
                <option>Argentina</option>
              </select>
                                          </div>
                                          <div class="col-md-4">
                                              <label for="inputProvincia" class="form-label">Provincia</label>
                                              <select id="inputProvincia" class="form-select">
                <option selected>Seleccione una provincia</option>
                <option>Córdoba</option>
              </select>
                                          </div>
                                          <div class="col-md-4">
                                              <label for="inputLocalidad" class="form-label">Localidad</label>
                                              <select id="inputLocalidad" class="form-select">
                <option selected>Seleccione una localidad</option>
                <option>Córdoba</option>
              </select>
                                          </div>
                                          <div class="col-sm-4">
                                              <label for="inputCalle" class="form-label">Calle</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-sm-2">
                                              <label for="inputAltura" class="form-label">Altura</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-sm-2">
                                              <label for="inputCalle" class="form-label">Piso/Dpto</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-md-4">
                                              <label for="inputState" class="form-label">Barrio</label>
                                              <select id="inputState" class="form-select">
                <option selected>Seleccione un barrio</option>
                <option>Alberdi</option>
              </select>
                                          </div>
                                          <div class="col-md-4">
                                              <label for="inputHCD" class="form-label">Número de HCD</label>
                                              <input class="form-control" type="text" aria-label="Nro. de HCD" disabled>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- TAB tutor -->
                                  <div class="tab-pane" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
                                      <!-- Datos tutor -->
                                      <div class="row g-3">
                                          <div class="col-4">
                                              <label for="inputNombre" class="form-label">Nombre</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-4">
                                              <label for="inputApellido" class="form-label">Apellido</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-4">
                                              <label for="inputOcupacion" class="form-label">Ocupación</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-4">
                                              <label for="inputCelular" class="form-label">Teléfono celular</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-4">
                                              <label for="inputFijo" class="form-label">Teléfono fijo</label>
                                              <input type="text" class="form-control">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- TAB financiador -->
                                  <div class="tab-pane" id="financiador" role="tabpanel" aria-labelledby="financiador-tab">
                                      <!-- TAB financiador -->
                                      <div class="row g-3">
                                          <div class="col-md-4">
                                              <label for="inputFinanciador" class="form-label">Financiador</label>
                                              <select id="inputFinanciador" class="form-select">
            <option selected>Seleccione un financiador</option>
            <option>OSDE</option>
          </select>
                                          </div>
                                          <div class="col-4">
                                              <label for="inputAfiliado" class="form-label">Nro. Afiliado</label>
                                              <input type="text" class="form-control">
                                          </div>
                                          <div class="col-4">
                                              <label for="inputFechaAlta" class="form-label">Fecha de alta</label>
                                              <input type="date" class="form-control">
                                          </div>
                                      </div>
                                      <!-- fin de los datos-->
  
                                  </div>
                              </div>
  
  
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              <button type="button" class="btn btn-primary">Guardar</button>
                          </div>
                      </div>
                  </div>
              </div>
              
{% endmacro %}