{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA HCD EVOLUCIONES -->
<!-- ================================================ -->
{% block hcd_evoluciones %}

<main class="col-md-9 ms-sm-auto col-lg-10">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/hcd">Historia clínica digital</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }} de {{data.paciente_hcd[1]}}
                {{data.paciente_hcd[2]}}</li>
        </ol>
    </nav>

    <!-- ================================================ -->
    <!-- PANTALLA HCD / EVOLUCIONES -->
    <!-- ================================================ -->

    <div class="card border-success mb-3">
        <div class="card-header bg-transparent border-success">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0">
                <h4 class="h4">{{ data.titulo }}</h4>
            </div>
        </div>

        <div class="container mt-3">
            <!-- Tabla -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre y Apellido</th>
                        <th scope="col">Nro. Documento</th>
                        <th scope="col">HCD</th>
                        <th scope="col">Financiador</th>
                        <th scope="col">Nro. Afiliado</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{data.paciente_hcd[1]}} {{data.paciente_hcd[2]}}</td>
                    <td>{{data.paciente_hcd[3]}}</td>
                    <td>{{data.paciente_hcd[4]}}</td>
                    <td>{{data.paciente_hcd[5]}}</td>
                    <td>{{data.paciente_hcd[6]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-body">
            <hr>
            <h5 class="fw-bolder">Evoluciones</h5>
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="inputProfesional" class="form-label">Profesional</label>
                    <input type="text" class="form-control" id="inputProfesional"
                        value="{{data.usuarioProfesional[1]}} {{data.usuarioProfesional[2]}}" disabled>
                </div>
                <div class="col-md-4">
                    <label for="inputEspecialidad" class="form-label">Especialidad</label>
                    <input type="text" class="form-control" name="inputEspecialidad" disabled
                        value={{data.usuarioProfesional[3]}}>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-8">
                    <label for="TextareaEvoluciones" class="form-label">Evolución</label>
                    <textarea class="form-control" id="TextareaEvoluciones" rows="10" name="InputTextareaEvoluciones"
                        style="resize: none;" disabled>
                        </textarea>
                </div>
                <div class="col-md-4">
                    <label for="historialEvolucion" class="form-label">Historial</label>
                    <div style="height:250px; overflow: auto;">
                        <ul class="list-group" name="lista_historial">
                            {% for historial in data.historial %}
                            <button name="detalle_de_historial" id={{historial[4]}}
                                class="list-group-item list-group-item-action" aria-current="true">
                                <div class="clase1 d-flex w-100 justify-content-between">
                                    <div class="fw-bold">{{historial[11]}}</div>
                                    <small>{{historial[12]}}</small>
                                </div>
                                <small>{{historial[9]}} {{historial[10]}}</small>
                            </button>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6 justify-content-md-start">
                    <a class="btn btn-primary" href="/hcd" role="button">Atrás</a>
                </div>
            </div>

        </div>

    </div>

    <div id="idSeccionModalHistorial">
    </div>

    <!-- ================================================ -->
    <!-- Config Pantalla -->
    <!-- ================================================ -->

    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
        style="display: block; height: 514px; width: 1218px;">
    </canvas>

</main>

<script>
    //link para ver historiales

    $(document).on('click', "[name='detalle_de_historial']", function () {
        let id_dhcd = $(this).attr("id");
        $.ajax({
            url: `/hcd/modal/ver_historial/${id_dhcd}`,
            method: "GET",
            success: function (response) {
                $('#idSeccionModalHistorial').append(response.htmlresponse)
                $('#verHistorialHCD').modal('show');
            }
        });
    });

    $(document).on('click', '#closeModalId', function () {
        $.ajax({
            success: function (data) {
                $('#verHistorialHCD').modal('hide');
                $('#idSeccionModalHistorial').empty();
            }
        });
    });


</script>

{% endblock %}