<!-- Modal -->
<div class="modal fade" id="verHistorialHCD2" tabindex="-1" aria-labelledby="verHistorialHCDLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{{url_for('ver_historial_hcd')}}" method="POST">
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            id="idCerrarModalEliminar">Cerrar</button>
        </div>
        </form>
      </div>
    </div>
  </div>