<!-- Modal -->
<div class="modal fade" id="EliminarTurnoAdmision" tabindex="-1" aria-labelledby="EliminarTurnoAdmision" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{{url_for('eliminar_turno_admision')}}" method="POST">
                <input type="hidden" value="{{data.boton[0]}}" name="dataTurnoAdmId">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="EliminarTurnoAdmisionLabel">{{data.titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="idCerrarModalEliminar"></button>
            </div>
            <div class="modal-body">
                        <h5>¡IMPORTANTE!</h5>
                        <p>Estás por eliminar esta configuración de turno de admisión.</p>
                        <p>¿Estás de acuerdo?</p>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="idCerrarModalEliminar">Cerrar</button>
                    <button type="submit" class="btn btn-danger">Aceptar</button>
                </div>
            </form>
            </div>
        </div>
</div>