<!-- Modal -->
<div class="modal fade" id="verHistorialAgenda" tabindex="-1" aria-labelledby="verHistorialAgendaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="verHistorialAgendaLabel">Detalle de {{data.detalle_historial[9]}} {{data.detalle_historial[10]}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"id="idCerrarModalEliminar" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="fw-bolder">Detalle de evolución</h5>
            <form action="{{url_for('editar_detalle')}}" method="POST">
                <div class="row g-3">
                    <div class="col-md-4">
                        <input type="hidden" class="form-control" name="inputIdDetEvo" value={{data.detalle_historial[4]}}>
                        <input type="hidden" class="form-control" name="inputIdTurnoHis" value={{data.detalle_historial[6]}}>
                        <input type="hidden" class="form-control" name="inputIdEvolucion" value={{data.detalle_historial[2]}}>
                        <label for="inputProfesional" class="form-label">Profesional</label>
                        <input type="hidden" class="form-control" name="inputProfesionalHis" value={{data.detalle_historial[7]}}>
                        <input type="text" class="form-control" id="inputProfesional" value='{{data.detalle_historial[9]}} {{data.detalle_historial[10]}}' disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="inputEspecialidad" class="form-label">Especialidad</label>
                        <input type="text" class="form-control" id="inputEspecialidad" value={{data.detalle_historial[11]}} disabled>
                    </div>
                    <div class="col-md-2">
                        <label for="inputFecha" class="form-label">Fecha</label>
                        <input type="text" class="form-control" id="inputFecha" value={{data.detalle_historial[18]}} disabled>
                    </div>
                    <div class="col-md-2">
                        <label for="inputHora" class="form-label">Hora</label>
                        <input type="text" class="form-control" id="inputHora" value={{data.detalle_historial[19]}} disabled>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="TextareaEvoluciones" class="form-label">Evolución</label>
                        <textarea class="form-control" id="TextareaEvoluciones" rows="10"
                            name="InputTextareaEvolucionesHis" style="resize: none;">{{data.detalle_historial[8]}}</textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    {% if data.detalle_historial[7] == data.usuarioprof[0] %}
                    <div class="col-md-12 d-grid gap-3 d-md-flex justify-content-md-end">
                        <button type="submit" id="buttonGuardarEvolucion" class="btn btn-success">Editar</button>
                    </div>
                    {% else %}
                    <div class="col-md-12 d-grid gap-3 d-md-flex justify-content-md-end">
                        <button type="submit" id="buttonGuardarEvolucion" class="btn btn-success" disabled>Editar</button>
                    </div>
                    {% endif %}
                </div>

              </form> 
      </div>
    </div>
  </div>
</div>