<div class="modal" id="modal_buscar_paciente" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar paciente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class=container>
                  <form action="{{url_for('buscar_paciente')}}" method="POST" class="d-flex p-2 m-3" style="width: 515px;">
                    <input class="form-control me-2 flex-end" name="buscar" type="search" placeholder="Buscar paciente" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                    <div class="row">
                        <div class="col-12">
                          <table class="table table-hover p-3 m-2">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre y Apellido</th>
                                    <th scope="col">Nro. de documento</th>
                                    <th scope="col">Financiador</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pacientes in data.pacientes %}
                                <tr>
                                    <td>{{pacientes[1]}} {{pacientes[2]}}</td>
                                    <td>{{pacientes[5]}}</td>
                                    <td>{{pacientes[20]}}</td>
                                    <td><button type="button" class="btn btn-primary">Seleccionar</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>    
                        </table>  
                        </div>

                  </div>
                </div>

            </div>

        </div>
    </div>
</div>