<!-- Modal -->
<div class="modal fade" id="idVerHCD" tabindex="-1" aria-labelledby="VerHCD" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <form action="{{url_for('guardar_turnos_admision')}}" method="POST">

        <!-- Header Modal -->
        <div class="modal-header">
          <h5 class="modal-title" id="VerHCDLabel">Historia clínica dígital</h5>
          <button type="button" class="btn-close" id="idButtonCerrarModalHCD" aria-label="Close"></button>
        </div>

        <!-- Body Modal -->
        <div class="modal-body" style="height: 580px;">

          <!-- Tabla -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col">Nro. Documento</th>
                <th scope="col">HCD</th>
                <th scope="col">Financiador</th>
                <th scope="col">Nro. Afiliado</th>
              </tr>
            </thead>
            <tbody>
              <input type="hidden" name="paciente_hcd" value="{{data.paciente_hcd[0]}}">
              <td>{{data.paciente_hcd[1]}} {{data.paciente_hcd[2]}}</td>
              <td>{{data.paciente_hcd[3]}}</td>
              <td>{{data.paciente_hcd[4]}}</td>
              <td>{{data.paciente_hcd[5]}}</td>
              <td>{{data.paciente_hcd[6]}}</td>
              </tr>
            </tbody>
          </table>

          <!-- NAVs -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-entrevista-admision-tab" data-bs-toggle="tab"
                data-bs-target="#nav-entrevista-adm" type="button" role="tab" aria-controls="nav-entrevista-adm"
                aria-selected="true">Entrevista de admisión</button>
              <button class="nav-link" id="nav-turnos-admision-tab" data-bs-toggle="tab"
                data-bs-target="#nav-turnos-adm" type="button" role="tab" aria-controls="nav-turnos-adm"
                aria-selected="false">Turnos de admisión</button>
              <button class="nav-link" id="nav-evoluciones-tab" data-bs-toggle="tab" data-bs-target="#nav-evoluciones"
                type="button" role="tab" aria-controls="nav-evoluciones" aria-selected="false">Evoluciones</button>
            </div>
          </nav>
          <!-- Contenidos de las navs -->
          <div class="tab-content" id="nav-tabContent">
            <!-- NAV ENTREVISTA DE ADMISIÓN -->
            <div class="tab-pane fade show active" id="nav-entrevista-adm" role="tabpanel"
              aria-labelledby="nav-entrevista-admision-tab">
              <form>
                <div class="container">
                  <h6 style="margin-top: 20px;">1- Relaciones afectivas familiares</h6>
                  <div class="mb-3 row">
                    <label for="staticPreg1" class="col-sm-8 col-form-label">¿Los padres del niño viven juntos?</label>
                    <div class="col-sm-4">
                      <input class="form-control" type="text" value="Sí" aria-label="Disabled input example" disabled
                        readonly>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="staticPreg1" class="col-sm-8 col-form-label">¿El niño tiene hermanos? ¿Cuántos?</label>
                    <div class="col-sm-4">
                      <input class="form-control" type="text" value="Sí, 2 hermanas" aria-label="Disabled input example"
                        disabled readonly>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="staticPreg1" class="col-sm-8 col-form-label">¿Los padres cuentan con antecedentes
                      médicos?</label>
                    <div class="col-sm-4">
                      <input class="form-control" type="text" value="No" aria-label="Disabled input example" disabled readonly>
                    </div>
                  </div>
                <h6 style="margin-top: 20px;">2- Embarazo</h6>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿La madre presentó alguna molestia en el embarazo?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="No" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿La madre mantuvo consumos de tabaco, alcohol o medicamentos
                    durante el embarazo?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="No" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
                <h6 style="margin-top: 20px;">3- Parto</h6>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿El parto fue natural?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="Sí" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿El parto fue a término?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="No, nació a las 29 semanas" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿El parto presentó complicaciones?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="No" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
                <h6 style="margin-top: 20px;">4- Desarrollo durante el primer año</h6>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿La lactancia fue de pecho?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="Sí" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿El niño presentó dificultados con los alimentos sólidos?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="No" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticPreg1" class="col-sm-8 col-form-label">¿Se chupó el dedo o usó chupete?</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="text" value="Si, usó chupete" aria-label="Disabled input example" disabled readonly>
                  </div>
                </div>
              </div>
              </form>



            </div>
            <!-- NAV TURNOS DE ADMISIÓN -->
            <div class="tab-pane fade" id="nav-turnos-adm" role="tabpanel" aria-labelledby="nav-turnos-admision-tab">
              <!-- Datos turnos de admisión -->
              <div class="row g-3 mt-1 align-items-end">
                <div class="col-2">
                  <input type="hidden" name="idPaciente_HCD" value="{{data.paciente_hcd[0]}}">
                  <label for="inputCantidad" class="form-label">Cantidad</label>
                  <input type="text" class="form-control" name="cantidad">
                </div>
                <div class="col-md-3">
                  <label for="Especialidad" class="form-label">Especialidad</label>
                  <select name="tipoEspecialidad" class="form-select">
                    {% for especialidades in data.especialidad %}
                    <option value={{especialidades[0]}}>{{especialidades[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="patologia" class="form-label">Patologia</label>
                  <select name="tipoPatologia" class="form-select">
                    {% for patologias in data.patologia %}
                    <option value={{patologias[0]}}>{{patologias[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn-primary" data-bs-target="#turnos_admision">Agregar</button>
                </div>
              </div>
              <!-- Tabla turnos otorgados-->
              <div>
                <table class="table p-3 m-2">
                  <thead>
                    <tr>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Especialidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>5</td>
                      <td>Kinesiología</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Fisioterapía</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- NAV EVOLUCIÓN -->
            <div class="tab-pane fade" id="nav-evoluciones" role="tabpanel" aria-labelledby="nav-evoluciones-tab">
              <!-- TAB evoluciones -->
              <div class="row align-items-md-stretch">
                <div class="col-md-7">
                  <div class="form-floating mt-3">
                    <textarea class="form-control" id="floatingTextarea2"
                      style="height: 350px; resize: none"></textarea>
                    <label for="floatingTextarea2">Detalle de evolución</label>
                  </div>
                  <button type="button" class="btn btn-primary active mt-3" data-bs-toggle="button" autocomplete="off"
                    aria-pressed="true">Agregar</button>
                </div>

                <!-- Historial de evoluciones -->
                <div class="col-md-5">
                  <div role="tabpanel">
                    <!-- List CARD -->
                    <div class="card mt-3">
                      <div class="card-body">
                        <h5 class="card-title">Kinesiología</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Fabiana Juarez - 26/04/2020</h6>
                        <a href="#" class="card-link">Ver</a>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Fonoaudiología</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Yo - 21/03/2020</h6>
                        <a href="#" class="card-link">Ver</a>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Fonoaudiología</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Yo - 15/03/2020</h6>
                        <a href="#" class="card-link">Ver</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>