{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA AGREGAR USUARIO -->
<!-- ================================================ -->
{% block editar_paciente %}

<main class="col-md-9 ms-sm-auto col-lg-10">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/pacientes">Pacientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }} </li>
        </ol>
    </nav>

    <!-- ================================================ -->
    <!-- PANTALLA EDITAR PACIENTE -->
    <!-- ================================================ -->

    <div class="card">
        <div class="card-header bg-transparent border-success">
            <h5 class="h4" name="tituloPantalla">{{ data.titulo }}</h5>
        </div>
        <div class="card-body">
            <form action="/pacientes/actualizar_paciente" method="POST">
                <div class="container" style="height: 472px;">
                    <div id="mensajeAlerta" class="container"></div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" name="datosPersonalesTab" data-bs-toggle="tab"
                                data-bs-target="#datos_personales" type="button" role="tab"
                                aria-controls="datos_personales" aria-selected="true">Datos personales</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" name="tutorTab" data-bs-target="#tutor"
                                type="button" role="tab" aria-controls="tutor" aria-selected="false">Datos
                                tutor</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="messages-tab" name="financiadorTab" data-bs-toggle="tab"
                                data-bs-target="#financiador" type="button" role="tab" aria-controls="financiador"
                                aria-selected="false">Financiador</button>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="datos_personales" role="tabpanel"
                            aria-labelledby="datos_personales-tab">

                            <!-- Datos paciente -->
                            <div class="row mt-3">
                                <div class="col-4">
                                    <input type="hidden" name="idPaciente" value="{{data.pacientes[0]}}">
                                    <label for="nombrePaciente" class="form-label">Nombre</label>
                                    <input value="{{data.pacientes[1]}}" type="text" class="form-control" name="nombrePaciente" validation-tab-paciente="true">
                                </div>
                                <div class="col-4">
                                    <label for="apellidoPaciente" class="form-label">Apellido</label>
                                    <input value="{{data.pacientes[2]}}" type="text" class="form-control" name="apellidoPaciente" validation-tab-paciente="true">
                                </div>
                                <div class="col-md-4">
                                    <label for="genero" class="form-label">Genero</label>
                                    <select name="genero" class="form-select" validation-tab-paciente="true">
                                        <option value={{data.pacientes[3]}} selected>{{data.pacientes[3]}}</option>
                                        {% if data.pacientes[3] == "Masculino" %}
                                            <option value="Femenino">Femenino</option>
                                        {%else%}
                                            <option value="Masculino">Masculino</option>
                                        {%endif%}
                                    </select>
                                    <div class="invalid-feedback">Campo requerido</div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label for="tipoDocumento" class="form-label">Tipo de documento</label>
                                    <select name="tipoDocumento" class="form-select" validation-tab-paciente="true">
                                        {% for tipoDoc in data.tipoDocumento %}
                                        {% if tipoDoc[0] == data.pacientes[4] %}
                                        <option selected value={{tipoDoc[0]}}>{{tipoDoc[1]}}</option>
                                        {% else %}
                                        <option value={{tipoDoc[0]}}>{{tipoDoc[1]}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="nroDocumentoPaciente" class="form-label">Nro. documento</label>
                                    <input value="{{data.pacientes[6]}}" type="text" class="form-control" validation-tab-paciente="true" name="nroDocumento">
                                </div>
                                <div class="col-4">
                                    <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                                    <input value="{{data.pacientes[7]}}" type="date" class="form-control" validation-tab-paciente="true" name="fechaNacimiento">
                                    <div class="invalid-feedback">Fecha Nacimiento no puede ser mayor a fecha actual</div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label for="pais" class="form-label">País</label>
                                    <select name="pais" class="form-select" validation-tab-paciente="true">
                                        {% if data.pais[0] == data.pacientes[8] %}
                                        <option selected value={{data.pais[0]}}>{{data.pais[1]}}</option>
                                        {% else %}
                                        <option value={{data.pais[0]}}>{{data.pais[1]}}</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="provincia" class="form-label">Provincia</label>
                                    <select name="provincia" class="form-select" validation-tab-paciente="true">
                                        {% for provincia in data.provincias %}
                                        {% if provincia[0] == data.pacientes[10] %}
                                        <option selected value={{provincia[0]}}>{{provincia[1]}}</option>
                                        {% else %}
                                        <option value={{provincia[0]}}>{{provincia[1]}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="localidad" class="form-label">Localidad</label>
                                    <select name="localidad" class="form-select" validation-tab-paciente="true">
                                        {% for localidad in data.localidades %}
                                        {% if localidad[0] == data.pacientes[12] %}
                                        <option selected value={{localidad[0]}}>{{localidad[1]}}</option>
                                        {% else %}
                                        <option value={{localidad[0]}}>{{localidad[1]}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-4">
                                    <label for="calle" class="form-label">Calle</label>
                                    <input value="{{data.pacientes[14]}}" type="text" class="form-control" validation-tab-paciente="true" name="calle">
                                </div>
                                <div class="col-sm-2">
                                    <label for="altura" class="form-label">Altura</label>
                                    <input value="{{data.pacientes[15]}}" type="number" class="form-control" validation-tab-paciente="true" name="altura">
                                </div>
                                <div class="col-sm-1">
                                    <label for="piso" class="form-label">Piso</label>
                                    <input value="{{data.pacientes[16]}}" type="text" class="form-control" name="piso">
                                </div>
                                <div class="col-sm-1">
                                    <label for="dpto" class="form-label">Dpto</label>
                                    <input value="{{data.pacientes[17]}}" type="text" class="form-control" name="dpto">
                                </div>
                                <div class="col-md-4">
                                    <label for="barrio" class="form-label">Barrio</label>
                                    <select name="barrio" class="form-select" validation-tab-paciente="true">
                                        {% for barrio in data.barrios %}
                                        {% if barrio[0] == data.pacientes[18] %}
                                        <option selected value={{barrio[0]}}>{{barrio[1]}}</option>
                                        {% else %}
                                        <option value={{barrio[0]}}>{{barrio[1]}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label for="HCD" class="form-label">Número de HCD</label>
                                    <input value="{{data.pacientes[20]}}" class="form-control" type="text" aria-label="Nro. de HCD" disabled>
                                </div>
                            </div>
                        </div>

                        <!-- TAB tutor -->
                        <div class="tab-pane" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
                            <!-- Datos tutor -->
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label for="nombreTutor" class="form-label">Nombre</label>
                                    <input value="{{data.pacientes[21]}}" type="text" class="form-control" name="nombreTutor" validation-tab-tutor="true">
                                </div>
                                <div class="col-4">
                                    <label for="apellidoTutor" class="form-label">Apellido</label>
                                    <input value="{{data.pacientes[22]}}" type="text" class="form-control" name="apellidoTutor" validation-tab-tutor="true">
                                </div>
                                <div class="col-4">
                                    <label for="ocupacion" class="form-label">Ocupación</label>
                                    <input value="{{data.pacientes[23]}}" type="text" class="form-control" name="ocupacion">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label for="nroCelular" class="form-label">Teléfono celular</label>
                                    <input value="{{data.pacientes[25]}}" type="number" class="form-control" name="nroCelular" validation-tab-tutor="true">
                                </div>
                                <div class="col-4">
                                    <label for="nroFijo" class="form-label">Teléfono fijo</label>
                                    <input value="{{data.pacientes[24]}}" type="number" class="form-control" name="nroFijo">
                                </div>
                            </div>
                        </div>

                        <!-- TAB financiador -->
                        <div class="tab-pane" id="financiador" role="tabpanel" aria-labelledby="financiador-tab">
                            <!-- TAB financiador -->
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label for="financiador" class="form-label">Financiador</label>
                                    <select name="financiador" class="form-select" validation-tab-financiador="true">
                                        {% for financiadores in data.financiador %}
                                        {% if financiadores[0] == data.pacientes[26] %}
                                        <option selected value={{financiadores[0]}}>{{financiadores[1]}}</option>
                                        {% else %}
                                        <option value={{financiadores[0]}}>{{financiadores[1]}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="nroAfiliado" class="form-label">Nro. Afiliado</label>
                                    <input value="{{data.pacientes[28]}}" type="text" class="form-control" name="nroAfiliado" validation-tab-financiador="true">
                                </div>
                            </div>
                            <!-- fin de los datos-->
                        </div>
                    </div>
                </div>
                    <div class="row mt-3">
                        <div class="col-md-6 justify-content-md-start">
                            <a class="btn btn-primary" href="/pacientes" role="button">Atrás</a>
                        </div>
                        <div class="col-md-6 d-grid gap-3 d-md-flex justify-content-md-end">
                            <button type="submit" id="buttonGuardarFormulario" class="btn btn-success">Guardar</button>
                        </div>
                    </div>

            </form>
        </div>
    </div>

    <!-- ================================================ -->
    <!-- Config Pantalla -->
    <!-- ================================================ -->

    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
        style="display: block; height: 514px; width: 1218px;">
    </canvas>

</main>
<script type="module" src="/static/validations/validacion_pacientes_formulario.js"></script>
{% endblock %}