{% extends 'base/base.html' %}

        <!-- ================================================ -->
        <!-- PANTALLA PACIENTE -->
        <!-- ================================================ -->
        {% block paciente %}
        
        <main class="col-md-9 ms-sm-auto col-lg-10">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>


            <!-- Breadcrumb -->
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }}</li>
                </ol>
            </nav>

            <!-- Titulo de la pantalla -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom pb-0">
                <h1 class="h2">{{ data.titulo }}</h1>
            </div>

            <!-- Search - Barra de busqueda -->
            <form class="d-flex p-2 m-3" style="width: 515px;">
                <input class="form-control me-2 flex-end" type="search" placeholder="Buscar paciente" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>

            <!-- Tabla -->
            <table class="table table-hover p-3 m-2">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre y Apellido</th>
                        <th scope="col">Nro. de documento</th>
                        <th scope="col">Financiador</th>
                        <th scope="col">Tutor</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in data.pacientes %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{paciente[0]}} {{paciente[1]}}</td>
                        <td>{{paciente[2]}}</td>
                        <td>OSDE</td>
                        <td>Mariela Sanchez</td>
                        <td><button type="button " class="btn btn-outline-primary rounded-circle justify-content-center align-content-center " style="padding-bottom: 0px;padding-left: 0px;padding-right: 0px;padding-top: 0px;width: 28px;height: 27px;" data-bs-toggle="tooltip " data-bs-placement="top " title="Editar ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
            </button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Paginado -->
            <nav aria-label="Page navigation example ">
                <ul class="pagination pagination-sm justify-content-center m-5 ">
                    <li class="page-item disabled ">
                        <a class="page-link " href="# " tabindex="-1 " aria-disabled="true ">Atrás</a>
                    </li>
                    <li class="page-item "><a class="page-link " href="# ">1</a></li>
                    <li class="page-item "><a class="page-link " href="# ">2</a></li>
                    <li class="page-item "><a class="page-link " href="# ">3</a></li>
                    <li class="page-item ">
                        <a class="page-link " href="# ">Siguiente</a>
                    </li>
                </ul>
            </nav>

             <!-- Button trigger modal -->
             <div class="form-row text-center">
                <div class="col-12">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AgregarPaciente">
                    Agregar
                  </button>
                 </div>
               </div>
        
        <!-- Modal -->
        <div class="modal fade" id="AgregarPaciente" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Agregar paciente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
      
              <!-- Body Modal -->
              <div class="modal-body" style="height: 710px;">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#datos_personales" type="button" role="tab" aria-controls="datos_personales" aria-selected="true">Datos personales</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tutor" type="button" role="tab" aria-controls="tutor" aria-selected="false">Datos tutor</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#financiador" type="button" role="tab" aria-controls="financiador" aria-selected="false">Financiador</button>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="datos_personales" role="tabpanel" aria-labelledby="datos_personales-tab">

                                    <!-- Datos paciente -->
                                    <div class="row g-3">
                                        <div class="col-4">
                                            <label for="inputNombre" class="form-label">Nombre</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <label for="inputApellido" class="form-label">Apellido</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputGenero" class="form-label">Genero</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputTipDoc" class="form-label">Tipo de documento</label>
                                            <select id="inputTipDoc" class="form-select">
              <option selected>DNI</option>
              <option>Pasaporte</option>
            </select>
                                        </div>
                                        <div class="col-4">
                                            <label for="inputNroDoc" class="form-label">Nro. documento</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-3">
                                            <label for="inputNacimiento" class="form-label">Fecha de nacimiento</label>
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="col-1">
                                            <label for="inputEdad" class="form-label">Edad</label>
                                            <input type="text" class="form-control" aria-label="Edad">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputPais" class="form-label">País</label>
                                            <select id="inputPais" class="form-select">
              <option selected>Seleccione un país</option>
              <option>Argentina</option>
            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputProvincia" class="form-label">Provincia</label>
                                            <select id="inputProvincia" class="form-select">
              <option selected>Seleccione una provincia</option>
              <option>Córdoba</option>
            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputLocalidad" class="form-label">Localidad</label>
                                            <select id="inputLocalidad" class="form-select">
              <option selected>Seleccione una localidad</option>
              <option>Córdoba</option>
            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="inputCalle" class="form-label">Calle</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="inputAltura" class="form-label">Altura</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="inputCalle" class="form-label">Piso/Dpto</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputState" class="form-label">Barrio</label>
                                            <select id="inputState" class="form-select">
              <option selected>Seleccione un barrio</option>
              <option>Alberdi</option>
            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputHCD" class="form-label">Número de HCD</label>
                                            <input class="form-control" type="text" aria-label="Nro. de HCD" disabled>
                                        </div>
                                    </div>
                                </div>
                                <!-- TAB tutor -->
                                <div class="tab-pane" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
                                    <!-- Datos tutor -->
                                    <div class="row g-3">
                                        <div class="col-4">
                                            <label for="inputNombre" class="form-label">Nombre</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <label for="inputApellido" class="form-label">Apellido</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <label for="inputOcupacion" class="form-label">Ocupación</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <label for="inputCelular" class="form-label">Teléfono celular</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <label for="inputFijo" class="form-label">Teléfono fijo</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!-- TAB financiador -->
                                <div class="tab-pane" id="financiador" role="tabpanel" aria-labelledby="financiador-tab">
                                    <!-- TAB financiador -->
                                    <div class="row g-3">
                                        <div class="col-md-4">
                                            <label for="inputFinanciador" class="form-label">Financiador</label>
                                            <select id="inputFinanciador" class="form-select">
          <option selected>Seleccione un financiador</option>
          <option>OSDE</option>
        </select>
                                        </div>
                                        <div class="col-4">
                                            <label for="inputAfiliado" class="form-label">Nro. Afiliado</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-4">
                                            <label for="inputFechaAlta" class="form-label">Fecha de alta</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <!-- fin de los datos-->

                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ================================================ -->
            <!-- Config Pantalla -->
            <!-- ================================================ -->

            <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%" style="display: block; height: 514px; width: 1218px;"></canvas>
        </main>
    </div>
</div>

{% endblock %}