{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA TURNOS -->
<!-- ================================================ -->
{% block reportes %}

<main class="col-md-9 ms-sm-auto col-lg-10">
  <div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand">
      <div class></div>
    </div>
    <div class="chartjs-size-monitor-shrink">
      <div class=""></div>
    </div>
  </div>

  <!-- Breadcrumb -->
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }}</li>
    </ol>
  </nav>

  <!-- Titulo de la pantalla -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom pb-0">
    <h1 class="h2">{{ data.titulo }}</h1>
  </div>


  <!-- ================================================ -->
  <!-- REPORTES -->
  <!-- ================================================ -->

  <div class="container-fluid mt-3">
    <div class="d-grid gap-2">
        <a class="btn btn-primary" href="/reportes/estados_turnos" role="button">Reporte: Estados de turnos</a>
        <a class="btn btn-primary" href="/reportes/motivos_anulacion_turnos" role="button">Reporte: Motivos de anulación de turnos</a>
        <a class="btn btn-primary" href="/reportes/genero_especialidades" role="button">Reporte: Género de pacientes por especialidades</a>
        <a class="btn btn-primary" href="/reportes/altas_mensuales_pacientes" role="button">Reporte: Altas mensual de nuevos pacientes</a>
        <a class="btn btn-primary" href="/reportes/ranking_obras_sociales" role="button">Reporte: Ranking de obras sociales</a>
        <a class="btn btn-primary" href="/reportes/patologias_admision" role="button">Reporte: Patologías de admisión</a> 
        <a class="btn btn-primary" href="/reportes/parametros_edades" role="button">Reporte: Parámetros de edades</a>
        <a class="btn btn-primary" href="/reportes/alta_pacientes_zona" role="button">Reporte: Parámetros por zonas geográficas</a>
        <a class="btn btn-primary" href="/reportes/obtener_turnos_especialidad" role="button">Reporte: Atención por especialidad</a>
        <a class="btn btn-primary" href="/reportes/atencion_profesional" role="button">Reporte: Atención por profesional</a>
        <a class="btn btn-primary" href="/reportes/reportes_motivos_anulacion_especialidad" role="button">Reporte: Anulaciones por especialidad</a>
        <a class="btn btn-primary" href="/reportes/horas_trabajadas_profesional" role="button">Reporte: Cantidad de horas trabajadas por profesional</a>
        <a class="btn btn-primary" href="/reportes/reportes_estado_parametro_edades" role="button">Reporte: Estados de turno segun parámetros de edades</a>
        <a class="btn btn-primary" href="/reportes/ranking_pacientes_atenciones" role="button">Reporte: Ranking de Pacientes con atenciones</a>
        <a class="btn btn-primary" href="/reportes/reporte_tipo_recursos" role="button">Reporte: Listado de Recursos</a>
      </div>
  </div>



  <!-- ================================================ -->
  <!-- Config Pantalla -->
  <!-- ================================================ -->

  <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
    style="display: block; height: 514px; width: 1218px;">
  </canvas>

</main>



{% endblock %}