{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA AGREGAR ROL -->
<!-- ================================================ -->
{% block agregar_rol %}

<main class="col-md-9 ms-sm-auto col-lg-10">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/configuracion/rol">Configuración de roles</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }} </li>
        </ol>
    </nav>

    <!-- ================================================ -->
    <!-- PANTALLA AGREGAR NUEVO ROL -->
    <!-- ================================================ -->

    <div class="card">
        <div class="card-header bg-transparent border-success">
            <h5 class="h4">{{ data.titulo }}</h5>
            </div>
        <div class="card-body">
            <form>
                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombreRol" class="form-label">Nombre del rol</label>
                            <input type="text" class="form-control" name="nombreRol">
                        </div>
                    </div>

                        <div class="row mt-3">

                            <div class="col-md-6">
                                <label for="descripcionRol" class="form-label">Descripción</label>
                                <textarea class="form-control" name="descripcionRol"
                                    style="height: 250px; resize: none;"></textarea>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label for="checkPrivilegio" class="form-label">Privilegios</label>
                                </div>
                                <ul class="list-group">
                                    {% for privilegios in data.privilegios %}
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" name="privilegio_nombre" type="checkbox"
                                            value={{privilegios[0]}} id={{privilegios[0]}}>
                                        {{privilegios[1]}}
                                    </li>
                                    {% endfor %}
                                </ul>
    
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6 justify-content-md-start">
                                <a class="btn btn-primary" href="/configuracion/rol" role="button">Atrás</a>
                            </div>
                            <div class="col-md-6 d-grid gap-3 d-md-flex justify-content-md-end">
                                <button type="submit" id="guardarButton" class="btn btn-success">Guardar</button>
                            </div>
                        </div>



                </div>

            </form>
        </div>
    </div>

    <!-- ================================================ -->
    <!-- Config Pantalla -->
    <!-- ================================================ -->

    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
        style="display: block; height: 514px; width: 1218px;">
    </canvas>

</main>

{% endblock %}