<!-- Modal -->
<div class="modal fade" id="EliminarRol" tabindex="-1" aria-labelledby="EliminarRol" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="EliminarRolLabel">Mensaje de alerta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="idCerrarModalEliminar"></button>
            </div>
            <div class="modal-body">
                        <h5>¡IMPORTANTE!</h5>
                        <p>Estás por eliminar un rol. Recordá que si existen usuarios vinculados a este rol se perderán
                            los privilegios asociados.</p>
                        <p>¿Deseas eliminar este rol de todos modos?</p>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="idCerrarModalEliminar">Cerrar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
</div>