{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA HCD -->
<!-- ================================================ -->
{% block configuracion_roles %}
<main class="col-md-9 ms-sm-auto col-lg-10">
  <div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand">
      <div class></div>
    </div>
    <div class="chartjs-size-monitor-shrink">
      <div class=""></div>
    </div>
  </div>


  <!-- Breadcrumb -->
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }}</li>
    </ol>
  </nav>

  <!-- Titulo de la pantalla -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom pb-0">
    <h1 class="h2">{{ data.titulo }}</h1>
  </div>


  <!-- Search - Barra de busqueda -->
  <form class="d-flex p-2 m-3" style="width: 515px;">
    <input class="form-control me-2 flex-end" type="search" placeholder="Buscar rol" aria-label="Buscar">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>


  <!-- Tabla -->
  <table class="table table-sm table-hover p-3 m-2">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col" style="text-align:center;">Acción</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td style="text-align:center;"><button type="button" class="btn btn-info" data-bs-toggle="modal" name="verRol">
            Editar</button>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" name="verHCD">
            Eliminar</button>
        </td>
      </tr>

    </tbody>
  </table>

  <!-- Paginado -->
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center m-5">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Atrás</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>


  <!-- Button trigger modal -->
  <div class="form-row text-center">
    <div class="col-12">
      <button type="button" class="btn btn-success openBtn" data-bs-toggle="modal" data-bs-target="#agregar_button_rol">
        Agregar
      </button>
    </div>
  </div>




  <!-- Modal-->

  <div class="modal fade" id="agregar_button_rol" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <form>
          <!-- Cabecera Modal -->
          <div class="modal-header">
            <h5 class="modal-title">Agregar rol</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Body Modal -->
          <div class="modal-body">

            <!-- Datos rol -->
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <div class="row">
                    <label for="nombreRol" class="form-label">Nombre del rol</label>
                    <input type="text" class="form-control" name="nombreRol">

                    <div class="form-floating mt-3" style="padding: 0%;">
                      <textarea class="form-control" id="descripcionRol"
                        style="height: 350px; resize: none;"></textarea>
                      <label for="descripcionRol">Descripción</label>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="list-group">
                    <label for="Privilegios" class="form-label">Privilegios</label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      First checkbox
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Second checkbox
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Third checkbox
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Fourth checkbox
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Fifth checkbox
                    </label>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- footer modal-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>

      </div>
    </div>
  </div>



  <div id="idSeccionModalAgregarRol">
  </div>

  <!-- ================================================ -->
  <!-- Config Pantalla -->
  <!-- ================================================ -->

  <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
    style="display: block; height: 514px; width: 1218px;">
  </canvas>

</main>


{% endblock %}