{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA TURNOS -->
<!-- ================================================ -->
{% block asignar_turno %}

<main class="col-md-9 ms-sm-auto col-lg-10">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/turnos/seleccionar_paciente">Turnos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }} / {{ data.subtitulo }}</li>
        </ol>
    </nav>

    <!-- ================================================ -->
    <!-- PANTALLA ASIGNAR NUEVO TURNO -->
    <!-- ================================================ -->

    <div class="card border-success mb-3">
        <div class="card-header bg-transparent border-success">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0">
                <h4 class="h4">{{ data.titulo }} / {{ data.subtitulo }}</h4>
            </div>
        </div>

        <div class="card-body text-dark">
            <h5 class="card-title">Paciente seleccionado</h5>

            <div class="container">
                <table class="table text-secondary">
                    <thead>
                        <tr>
                            <th scope="col">Nombre y Apellido</th>
                            <th scope="col">Nro. de documento</th>
                            <th scope="col">Financiador</th>
                            <th scope="col">Nro. afiliado</th>
                            <th scope="col">HCD</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ data.paciente[1] }} {{data.paciente[2] }}</td>
                            <td>{{ data.paciente[6] }}</td>
                            <td>{{ data.paciente[27]}}</td>
                            <td>{{ data.paciente[28]}} </td>
                            <td>{{ data.paciente[20]}}</td>
                            <td><button type="button" class="btn btn-dark" data-bs-toggle="modal" name="botonVerTurnos"
                                    data-bs-target="#ModalVerTurnos" id={{data.paciente[0]}}>
                                    Ver Turnos
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if data.turnosadm|length == 0 %}
        <div class="container">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                    aria-label="Warning:">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    El paciente NO tiene turnos de admisión asignados. Para poder añadirlos <a
                        href="/hcd/ver_admision/{{data.paciente[0]}}" class="alert-link">haz click aquí</a> e ingresá en
                    la solapa "Turnos de admisión"
                </div>
            </div>
            <div class="card-footer bg-transparent border-success">
                <div class="row">
                    <div class="col-6 justify-content-md-start">
                        <a class="btn btn-primary" href="/turnos/seleccionar_paciente" role="button">Atrás</a>
                    </div>
                </div>
            </div>
        </div>
        {%else%}
        <div id="mensajeAlerta" class="container">
        </div>
        <div class="card-body border-top">
            <h5 class="card-title">Seleccionar turno</h5>
            <div class="container">
                <form id=formularioDeTurno action="/turnos/grabar_turno" method="POST" class="row g-3">
                    <input type="hidden" value={{data.paciente[0]}} name="inputPacienteId">
                    <div class="col-md-4">
                        <label for="tipoTurno" class="form-label">Tipo de turno</label>
                        <select id="idTipoTurnoDropdown" name="tipoTurno" class="form-select" validation="true">
                            <option value="" selected disabled>Seleccionar...</option>
                            {% for tipoTurno in data.tipoTurno %}
                            <option value={{tipoTurno[0]}}>{{tipoTurno[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Especialidad" class="form-label">Especialidad</label>
                        <select id="idEspecialidadDropdown" name="nameEspecialidadDropdown" class="form-select"
                            validation="true">
                            <option value="" selected disabled>Seleccionar...</option>
                            {% for especialidad in data.especialidad %}
                            <option value={{especialidad[0]}}>{{especialidad[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Profesional" class="form-label">Profesional</label>
                        <select id="idProfesionalDropdown" name="nameProfesionalDropdown" class="form-select"
                            validation="true">
                            <option value="" selected disabled>Seleccionar...</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="fechaTurno" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="idFechaTurno" name="fechaTurno" min="2021-01-01"
                            max="2022-12-31" validation="true">
                        <div class="invalid-feedback">La fecha es anterior al día de hoy</div>
                    </div>
                    <div class="col-4">
                        <label for="horaTurno" class="form-label">Hora inicio</label>
                        <select id="idhoraInicio" name="nameHoraInicio" class="form-select" validation="true">
                            <option value="" selected disabled>--:--</option>
                            {% for hora in range(12) %}
                            {% if (hora + 8) < 10 %} <option value=0{{ hora + 8 }}:00>0{{hora + 8}}:00</option>
                                <option value=0{{hora + 8}}:30>0{{hora + 8}}:30</option>
                                {% else %}
                                <option value={{ hora + 8 }}:00>{{hora + 8}}:00</option>
                                <option value={{hora + 8}}:30>{{hora + 8}}:30</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <div class="invalid-feedback">La hora seleccionada no es válida.</div>
                    </div>
                    <div class="col-4">
                        <label for="horaFin" class="form-label">Hora fin</label>
                        <input type="hidden" name="nameHoraFin">
                        <input type="time" class="form-control" id="idhoraFin" disabled>
                    </div>
            </div>
        </div>

        <div class="card-footer bg-transparent border-success">
            <div class="row">
                <div class="col-6 justify-content-md-start">
                    <a class="btn btn-primary" href="/turnos/seleccionar_paciente" role="button">Atrás</a>
                </div>
                <div class="col-6 d-grid gap-3 d-md-flex justify-content-md-end">
                    <button type="submit"  class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
        </form>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalVerTurnos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal">Ver turnos</h5>
                </div>
                <div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Turnos computados</th>
                                    <th scope="col">Especialidad</th>
                                </tr>
                            </thead>
                            <tbody id="tablaTurnosAdmision">
                                {% for turnosadm in data.turnosadm %}
                                <tr>
                                    <td>{{turnosadm[1]}}</td>
                                    <td>{{turnosadm[2]}}</td>
                                    <td>{{turnosadm[4]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ================================================ -->
    <!-- Config Pantalla -->
    <!-- ================================================ -->

    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
        style="display: block; height: 514px; width: 1218px;">
    </canvas>

</main>
<script type="module" src="/static/validations/validacion_turnos_formulario.js"></script>
<script type="module">
    import {obtenerFechaActual} from "/static/validations/utils.js"
    //la fecha por defecto es la de hoy
    $("[name='fechaTurno']").val(obtenerFechaActual())

</script>


{% endblock %}