{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA TURNOS -->
<!-- ================================================ -->
{% block turnos %}

<main class="col-md-9 ms-sm-auto col-lg-10">
  <div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand">
      <div class></div>
    </div>
    <div class="chartjs-size-monitor-shrink">
      <div class=""></div>
    </div>
  </div>

  <!-- Breadcrumb -->
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }}</li>
    </ol>
  </nav>

  <!-- Titulo de la pantalla -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom pb-0">
    <h1 class="h2">{{ data.titulo }}</h1>
  </div>


  <!-- ================================================ -->
  <!-- TURNERO -->
  <!-- ================================================ -->

  <!-- FILTRO -->
  <div class="mt-3 mb-3">
    <label for="formGroupExampleInput" class="form-label">Filtrar por:</label>
    <form action="/turnos" method="POST" id="formularioEstadoId">
      <section>
        <div class="row">
          <div class="col-md-4 m-4">
            <div class="form-floating">
              <select name="estadosSelect" class="form-select" id="filtrarEstadosId" aria-label="Seleccionar estados">
                {% if data.estado_seleccionado != None %}
                  {% for filtro in data.filtro %}
                    {% if data.estado_seleccionado|int == filtro[0] %}
                      <option value={{filtro[0]}} selected>{{filtro[1]}}</option>
                    {% endif %}
                  {% endfor %}
                  <option value="todos">Todos</option>
                {% else %}
                  <option value="todos" selected>Todos</option>
                {% endif %}
                {% for filtro in data.filtro %}
                  {% if data.estado_seleccionado|int != filtro[0] %}
                    <option value={{filtro[0]}}>{{filtro[1]}}</option>
                  {% endif %}  
                {% endfor %}
              </select>
              <label for="filtrarEstadosId">Selecciona un estado</label>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>


  <div>
    <table class="table table-hover">
      <thead class="table-info">
        <tr>
          <th scope="col">Estado</th>
          <th scope="col">Fecha</th>
          <th scope="col">Desde</th>
          <th scope="col">Hasta</th>
          <th scope="col">Nombre y Apellido</th>
          <th scope="col">Nro. documento</th>
          <th scope="col">Especialidad</th>
          <th class="text-center" scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for turno in data.turnos %}
        <tr>
          <td>{{turno[1]}}</td>
          <td>{{turno[2]}}</td>
          <td>{{turno[3]}}</td>
          <td>{{turno[4]}}</td>
          <td>{{turno[6]}} {{turno[7]}}</td>
          <td>{{turno[8]}}</td>
          <td>{{turno[9]}}</td>
          {% if turno[1].lower() == "receptado" or turno[1].lower() == "atendiendo" or turno[1].lower() == "atendido" or
          turno[1].lower() == "ausente" %}
          <td><a type="button" class="btn btn-primary btn-sm disabled" href="/turnos/receptar_turno/{{turno[0]}}"
              name="button_receptar_turno">
              Receptar
            </a>
            <a type="button" class="btn btn-warning btn-sm disabled" href="/turnos/reprogramar_turno/{{turno[0]}}"
              name="button_reprogramar_turno">
              Reprogramar
            </a>
            <a type="button" class="btn btn-danger btn-sm disabled" href="/turnos/anular_turno/{{turno[0]}}"
              name="button_anular_turno">
              Anular
            </a>
          </td>
          {% else %}
          <td><a type="button" class="btn btn-primary btn-sm" href="/turnos/receptar_turno/{{turno[0]}}"
              name="button_receptar_turno">
              Receptar
            </a>
            <a type="button" class="btn btn-warning btn-sm" href="/turnos/reprogramar_turno/{{turno[0]}}"
              name="button_reprogramar_turno">
              Reprogramar
            </a>
            <a type="button" class="btn btn-danger btn-sm" href="/turnos/anular_turno/{{turno[0]}}"
              name="button_anular_turno">
              Anular
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Button trigger modal -->
  <div class="form-row text-center">
    <div class="col-12">
      <a class="btn btn-success" href="/turnos/seleccionar_paciente" role="button">Asignar nuevo turno</a>
    </div>
  </div>


  <!-- ================================================ -->
  <!-- Config Pantalla -->
  <!-- ================================================ -->

  <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
    style="display: block; height: 514px; width: 1218px;">
  </canvas>

</main>
<script>
  $("[name='estadosSelect']").change(function () {
    $("#formularioEstadoId").submit()
  });
</script>


{% endblock %}